<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsr.project.analysis">

	<resultMap type="com.jsr.project.dtos.AnalysisDto" id="AnalysisDto">
		<result property="a_seq" column="A_SEQ" />
		<result property="a_code" column="A_CODE" />
		<result property="a_name" column="A_NAME" />
		<result property="a_img" column="A_IMG" />
		<result property="ma_seq" column="MA_SEQ" />
		<result property="id" column="ID" />
		<result property="ma_regDate" column="MA_REGDATE" />
	</resultMap>

	<resultMap type="com.jsr.project.dtos.SpendingDto" id="SpendingDto">
		<result property="p_regdate" column="P_REGDATE" />
		<result property="id" column="ID" />
		<result property="p_name" column="P_NAME" />
		<result property="p_money" column="P_MONEY" />
		<result property="rownum" column="ROWNUM" />
		<result property="total" column="TOTAL" />
		<collection property="g_name" resultMap="GoalDto" />
		<collection property="g_money" resultMap="GoalDto" />
	</resultMap>

	<resultMap type="com.jsr.project.dtos.GoalDto" id="GoalDto">
		<result property="g_name" column="G_NAME" />
		<result property="g_money" column="G_MONEY" />
	</resultMap>

	<!-- 해당 월의 총 소비액 -->
	<select id="total_spending" parameterType="Map" resultType="Integer">
		SELECT SUM(P_MONEY) FROM SPENDING WHERE
		P_REGDATE BETWEEN
		ADD_MONTHS(SYSDATE,#{sMonth}) AND ADD_MONTHS(#{eDate},#{eMonth}) AND
		ID=#{id}
	</select>
	<!-- 해당 월의 총 투자액 -->
	<select id="invest_spending" parameterType="Map" resultType="Integer">
		SELECT NVL(SUM(P_MONEY),0) FROM SPENDING WHERE
		P_DETAIL='투자' AND
		P_REGDATE BETWEEN ADD_MONTHS(SYSDATE,#{sMonth}) AND
		ADD_MONTHS(#{eDate},#{eMonth})
		AND ID=#{id}
	</select>
	<!-- 해당 월의 총 지출액 -->
	<select id="expense_spending" parameterType="Map" resultType="Integer">
		SELECT DISTINCT((SELECT SUM(P_MONEY) FROM SPENDING
		WHERE
		P_REGDATE
		BETWEEN ADD_MONTHS(SYSDATE,#{sMonth}) AND
		ADD_MONTHS(#{eDate},#{eMonth}) AND ID=#{id})-
		(SELECT
		NVL(SUM(P_MONEY),0) FROM SPENDING WHERE P_DETAIL='투자' AND
		P_REGDATE
		BETWEEN ADD_MONTHS(SYSDATE,#{sMonth}) AND
		ADD_MONTHS(#{eDate},#{eMonth}) AND ID=#{id}))AS
		DATA FROM SPENDING
	</select>

	<!-- 총예산 -->
	<select id="total_goal" parameterType="Map" resultType="Integer">
		SELECT
		SUM(G_MONEY)AS G_MONEY FROM GOAL WHERE ID=#{id}
	</select>

	<!-- 총지출액 -->
	<select id="total_expense" parameterType="Map" resultType="Integer">
		SELECT SUM(P_MONEY) FROM SPENDING WHERE
		P_REGDATE BETWEEN
		ADD_MONTHS(SYSDATE,#{sMonth}) AND ADD_MONTHS(#{eDate},#{eMonth}) AND
		ID=#{id}
	</select>

	<!-- 카테고리별 예산 -->
	<select id="category_goal" parameterType="Map" resultMap="GoalDto">
		SELECT
		G_NAME,SUM(G_MONEY)AS G_MONEY FROM (SELECT
		ID,G_NAME,G_MONEY FROM GOAL
		WHERE
		ID=#{id}) GROUP BY G_NAME
	</select>

	<!-- 카테고리별 지출 -->
	<select id="category_expense" parameterType="Map" resultMap="SpendingDto">
		SELECT P_NAME,SUM(P_MONEY)AS P_MONEY FROM (SELECT
		ID,P_NAME,P_MONEY
		FROM SPENDING
		WHERE ID=#{id} AND
		P_REGDATE BETWEEN
		ADD_MONTHS(SYSDATE,#{sMonth}) AND ADD_MONTHS(#{eDate},#{eMonth}))
		GROUP BY P_NAME
	</select>

	<!-- 카테고리별 예산/지출비교 -->
	<select id="goalVerseExpense" parameterType="Map" resultMap="SpendingDto">
		SELECT P_NAME,P_MONEY,G_MONEY
		FROM (SELECT
		G_NAME,SUM(G_MONEY)AS G_MONEY
		FROM (SELECT ID,G_NAME,G_MONEY
		FROM GOAL
		WHERE ID=#{id}) GROUP BY
		G_NAME)G,
		(SELECT P_NAME,SUM(P_MONEY)AS
		P_MONEY FROM (SELECT
		ID,P_NAME,P_MONEY FROM
		SPENDING
		WHERE ID=#{id} AND
		P_REGDATE BETWEEN
		ADD_MONTHS(SYSDATE,#{sMonth}) AND ADD_MONTHS(#{eDate},#{eMonth}))
		GROUP BY
		P_NAME)P
		WHERE G.G_NAME=P.P_NAME
	</select>

	<!-- 유형조회 -->
	<select id="selectAnalysis" parameterType="Integer" resultMap="AnalysisDto">
		SELECT A_SEQ,A_CODE,A_NAME,A_IMG,A_DETAIL FROM ANALYSIS WHERE
		A_SEQ=#{a_seq}
	</select>


	<!--월별 분야별 지출액 -->
	<select id="mostCategory" parameterType="Map" resultMap="SpendingDto">
		SELECT ROWNUM,TOTAL,P_NAME FROM (
		SELECT SUM(P_MONEY) TOTAL, P_NAME
		FROM SPENDING WHERE ID=#{id}
		AND P_REGDATE BETWEEN
		ADD_MONTHS(SYSDATE,#{sMonth}) AND
		ADD_MONTHS(#{eDate},#{eMonth})
		GROUP
		BY P_NAME ORDER BY TOTAL DESC)
	</select>

	<!--월별 평균 구매 신중도 -->
	<select id="carefulSpending" parameterType="Map" resultType="Integer">
		SELECT ROUND(AVG(P_NEED),1) FROM SPENDING WHERE ID=#{id} AND P_REGDATE
		BETWEEN ADD_MONTHS(SYSDATE,#{sMonth}) AND
		ADD_MONTHS(#{eDate},#{eMonth})
	</select>

	<!-- 월별 평균 소비 만족도 -->
	<select id="satisfySpending" parameterType="Map" resultType="Integer">
		SELECT ROUND(AVG(P_SAT)) FROM SPENDING WHERE ID=#{id} AND P_REGDATE
		BETWEEN ADD_MONTHS(SYSDATE,#{sMonth}) AND
		ADD_MONTHS(#{eDate},#{eMonth})
	</select>


</mapper>