<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.jsr.project.spending">
	
		<insert id="spendingInsert" parameterType="SpendingDto">
			INSERT INTO SPENDING(P_SEQ,ID,P_NAME,P_DETAIL,P_LOCATION,P_REGDATE,P_MONEY,P_SOME,P_CASHABLE,P_CARD,P_SAT,P_NEED)
			VALUES(SPENDING_SEQ.NEXTVAL,#{id},#{p_name},#{p_detail},#{p_location},#{p_regdate},#{p_money},#{p_some},
							<choose>
								<when test="p_cashable!=null">
									#{p_cashable}
								</when><otherwise>
									'N'
								</otherwise>
							</choose>
							,
							<choose>
								<when test="p_card!=null">
									#{p_card}
								</when><otherwise>
									'0'
								</otherwise>
							</choose>
							,#{p_sat},#{p_need})
		</insert>	
		
		<select id="spendingMoneyTop" parameterType="SpendingDto" resultType="SpendingDto">
			<![CDATA[
				SELECT ROWNUM AS P_CARD,ID,P_NAME,P_MONEY 
				FROM (SELECT DISTINCT ID,P_NAME,SUM(P_MONEY) OVER(PARTITION BY P_MONEY) AS P_MONEY 
				       FROM SPENDING WHERE TO_CHAR(P_REGDATE, 'YYYY-MM')=#{p_location} ORDER BY P_MONEY DESC)
				WHERE ROWNUM<=3 AND ID=#{id}
			]]>
		</select>
		
		<select id="spendingCountTop" parameterType="SpendingDto" resultType="SpendingDto">
			<![CDATA[
				SELECT ROWNUM AS P_CARD,ID,P_NAME,P_COUNT
				FROM (SELECT DISTINCT ID,P_NAME,COUNT(P_DETAIL) OVER(PARTITION BY P_NAME) AS P_COUNT 
					   FROM SPENDING WHERE TO_CHAR(P_REGDATE, 'YYYY-MM')=#{p_location} ORDER BY P_COUNT DESC)
				WHERE ROWNUM<=3
			]]>
		</select>
		
		<select id="spendingSumMoney" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT DISTINCT ID,SUM(P_MONEY) OVER(PARTITION BY ID) AS P_MONEY FROM SPENDING 
			WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id}
		</select>
		
		<select id="spendingAllSearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT P_SEQ,ID,P_NAME,P_DETAIL,P_LOCATION,P_REGDATE,P_MONEY,P_SOME,P_CASHABLE,P_CARD 
			FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id} ORDER BY P_NAME DESC
		</select>
		
		<select id="spendingDateSearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT P_SEQ,ID,P_NAME,P_DETAIL,P_LOCATION,P_REGDATE,P_MONEY,P_SOME,P_CASHABLE,P_CARD
			FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id} ORDER BY P_REGDATE DESC
		</select>
		
		<select id="spendingCategorySearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT P_SEQ,ID,P_NAME,P_DETAIL,P_LOCATION,P_REGDATE,P_MONEY,P_SOME,P_CASHABLE,P_CARD 
			FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id} ORDER BY P_NAME DESC
		</select>
	
		<select id="spendingSomeSearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT P_SEQ,ID,P_NAME,P_DETAIL,P_LOCATION,P_REGDATE,P_MONEY,P_SOME,P_CASHABLE,P_CARD 
			FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id} ORDER BY P_SOME DESC
		</select>
		
		<select id="spendingDetailSearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT P_SEQ,ID,P_NAME,P_DETAIL,P_LOCATION,P_REGDATE,P_MONEY,P_SOME,P_CASHABLE,P_CARD,P_SAT,P_NEED
			FROM SPENDING WHERE P_SEQ=#{p_seq}
		</select>
	
		<update id="spendingUpdate" parameterType="int">
			UPDATE SPENDING SET
							<choose>
								<when test="p_name!=null">
									P_NAME=#{p_name}
								</when><otherwise>
									P_NAME=NULL
								</otherwise>
							</choose>
							,
							<choose>
								<when test="p_detail!=null">
									P_DETAIL=#{p_detail}
								</when><otherwise>
									P_DETAIL=NULL
								</otherwise>
							</choose>
							,
							<choose>
								<when test="p_location!=null">
									P_LOCATION=#{p_location}
								</when><otherwise>
									P_LOCATION=NULL
								</otherwise>
							</choose>
							,
							<choose>
								<when test="p_money!=null">
									P_MONEY=#{p_money}
								</when><otherwise>
									P_MOENY=NULL
								</otherwise>
							</choose>
							,
							<choose>
								<when test="p_cashable!=null">
									P_CASHABLE=#{p_cashable}
								</when><otherwise>
									P_CASHABLE=NULL
								</otherwise>
							</choose>
							,
							<choose>
								<when test="p_card!=null">
									P_CARD=#{p_card}
								</when><otherwise>
									P_CARD=NULL
								</otherwise>
							</choose>
							,
							<choose>
								<when test="p_sat!=null">
									P_SAT=#{p_sat}
								</when><otherwise>
									P_SAT=NULL
								</otherwise>
							</choose>
							,
							<choose>
								<when test="p_need!=null">
									P_NEED=#{p_need}
								</when><otherwise>
									P_NEED=NULL
								</otherwise>
							</choose>
			
			WHERE P_SEQ=#{p_seq}
		</update>
		
		<delete id="spendingDelete" parameterType="int">
			DELETE FROM SPENDING WHERE P_SEQ=#{p_seq}
		</delete>
	
		<select id="dateChartSearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT SUM(P_MONEY) AS P_MONEY,P_REGDATE FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id} GROUP BY (P_REGDATE) ORDER BY P_REGDATE
		</select>
		
		<select id="categoryChartSearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT DISTINCT SUM(P_MONEY) OVER(PARTITION BY P_NAME) AS P_MONEY,P_REGDATE,P_NAME FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id}
		</select>

		<select id="someChartSearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT DISTINCT SUM(P_MONEY) OVER(PARTITION BY P_SOME) AS P_MONEY,P_SOME FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id}
		</select>
		
		<select id="spendingcurrentMoneySearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT SUM(P_MONEY) AS P_MONEY FROM SPENDING WHERE TO_CHAR(P_REGDATE, 'YYYY-MM')=#{p_location} AND ID=#{id}
		</select>
	
		<select id="spendingAvgMoneySearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT DISTINCT ROUND(SUM(P_MONEY)/30) AS P_MONEY
			FROM SPENDING
			WHERE SUBSTR(TO_CHAR(P_REGDATE,'YYYY-MM'),1,7)=#{p_location} AND ID=#{id}
		</select>
		
		<select id="spendingTotalCountSearch" parameterType="SpendingDto" resultType="SpendingDto">
			SELECT COUNT(P_MONEY) AS P_COUNT FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} AND ID=#{id}
		</select>
		
		<select id="spendingSomeTotalSearch" parameterType="SpendingDto" resultType="SpendingDto">
			<![CDATA[
				SELECT ROWNUM AS P_SEQ,P_MONEY,P_REGDATE,P_SOME 
				FROM (SELECT P_MONEY,P_REGDATE,P_SOME,ID FROM SPENDING ORDER BY P_MONEY DESC) 
				WHERE TO_CHAR(P_REGDATE, 'YYYY-MM')=#{p_location} AND ID=#{id} AND ROWNUM<=3
			]]>
		</select>
		
		<select id="spendingSomeCountSearch" parameterType="SpendingDto" resultType="SpendingDto">
			<![CDATA[
				SELECT ROWNUM AS P_SEQ,P_COUNT ,P_SOME 
				FROM (SELECT DISTINCT COUNT(P_SOME) OVER(PARTITION BY P_SOME) AS P_COUNT ,P_SOME,ID FROM SPENDING WHERE TO_CHAR(P_REGDATE,'YYYY-MM')=#{p_location} ORDER BY P_COUNT) 
				WHERE ID=#{id} AND ROWNUM<=3
			]]>
		</select>
	
	
	</mapper>